## Adult income classification
---
* Dataset information

> The data was extracted from the 1994 Census bureau database by Ronny Kohavi and Barry Becker (Data Mining and Visualization, Silicon Graphics). A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1) && (HRSWK>0)). The prediction task is to determine whether a person makes over $50K a year.

## Task
---
> ##### Predict whether income exceeds $50K/yr based on census data

### Importing libraries

In [1]:
import os
import sys
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
def load_data():
    return pd.read_csv('data/income_data.csv')

In [3]:
income_data = load_data()

In [4]:
income_data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

##### Shape of the data

In [7]:
instances = income_data.shape[0]
attributes = income_data.shape[1]

In [9]:
print(f"Number of rows in data => {instances}, and number of columns in data => {attributes}")

Number of rows in data => 32561, and number of columns in data => 15